.image img{
    width: 60px;
    height: 60px;
}

.image {
  padding: 20px 20px 20px 20px;
}

.card-section {
  padding-left: 12px;

}

.ui{

}

.content{
  padding-top: 25px;
  font-size: 13px;
}

.title{
  font-size: 20px;
  font-weight: 700;
}
