/* .tempe-section {
    min-height: 100vh;
} */

/* .tempe-about{
    height: 100vh;
} */
/* 
.tempe-info {
    margin-bottom: 0;
    font-size: 5rem;
    background-color: #091f36;
    color: white;
    width: fit-content;
    margin-left: 4rem;
    margin-top: 10rem;
    padding: 2rem;
} */

.grid-container{
    display: grid;
    grid-template-columns: auto auto auto;
}