
.js-plotly-plot {
  padding-left: 200px;
}

.react-datetime-picker__wrapper {
  border: none !important;
  padding: 10px;
}


.search-dates {
  display: flex;
  margin-top: 50px;
  margin: auto;
  width: 70%;
  padding: 10px;
} 