
.js-plotly-plot {
  padding-left: 200px;
}

.react-datetime-picker__wrapper {
  border: none !important;
  padding: 10px;
}


.search-dates {
  display: flex;
  margin-top: 50px;
  margin: auto;
  width: 70%;
  padding: 10px;
} 

.svg-container{
  /* background-color: lightblue !important; */
  background-color:rgba(9, 32, 54, 0.5) !important;
 
}

.main-svg {
  background-color:  transparent !important;
  color: bisque !important;
}