/* 
.js-plotly-plot {
  padding-left: 200px;
} */



.svg-container{
  /* background-color: lightblue !important; */
  /* background-color:rgba(52, 58, 67, 1) !important; */
 
}

.main-svg {
  /* background-color:  transparent !important; */
  border-radius: 20px;
  color: midnightblue;
  height: 590px;

}


